body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}
header {
  background: #00628b;
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
section {
  padding: 20px;
}
.project {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #00628b;
}
footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: #fff;
}
